{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="entry-title mb-3"></h2>
                    <h6 class="entry-metadata mb-4 text-muted"></h6>
                    <div class="entry-content"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block message_box %}
<div class="container mt-4">
    <div class="message-box">
        <p class="mono-text">view_entry :: full_log_details</p>
    </div>
</div>
{% endblock %}
