{% extends "base.html" %}

{% block title %}Home(r)_Log{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="message-box mb-4">
                <p class="mono-text">home() :: your_project_dashboard</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Quick Stats</h5>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="text-yellow">Total Projects</div>
                            <div class="stat-value" id="projectCount">-</div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-yellow">Total Entries</div>
                            <div class="stat-value" id="entryCount">-</div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-yellow">Developer Tag</div>
                            <div class="stat-value" id="devTag">-</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4 class="mb-4">Recent Activity</h4>
            <div id="projectCards" class="row">
                <!-- Project cards with consistent entry preview styling will be inserted here -->
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 text-center">
            <a href="{{ url_for('index') }}" class="btn btn-primary">Create New Entry</a>
        </div>
    </div>
</div>
{% endblock %}
