{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form id="searchForm">
                        <div class="row g-3">
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="projectSearch" list="projectList" placeholder="Search by project name">
                                <datalist id="projectList"></datalist>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="developerSearch" list="developerList" placeholder="Search by developer">
                                <datalist id="developerList"></datalist>
                            </div>
                            <div class="col-md-4">
                                <input type="date" class="form-control" id="dateSearch">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Search Entries</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

        <div class="row mt-4">
        <div class="col-12">
            <div id="searchResults" class="search-results-container">
                <!-- Results will be dynamically inserted here -->
            </div>
        </div>
</div>
{% endblock %}

{% block message_box %}
<div class="container mt-4">
    <div class="message-box">
        <p class="mono-text">search_entries :: find_your_logs</p>
    </div>
</div>
{% endblock %}
